<% form_for(@staff, :html=>{:id=>'new_form'}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= label_tag 'project' %>
    <%= select_tag('project', options_for_select(options_project))%>
    <%= f.label :group_id %>
    <%= f.select :group_id, options_groups_for_first_project %>
    <%= observe_field 'project', :url=>{:controller=>'projects', :action=>'groups'}, :with => "'id=' + $('project').value" %>
  </p>
  <p>
    <%= f.label :ggroup_id %>
    <%= f.select :ggroup_id, options_ggroup %>
  </p>
  <p>
    <%= f.label :en_firstname %>
    <%= f.text_field :en_firstname %>
  </p>
  <p>
    <%= f.label :en_lastname %>
    <%= f.text_field :en_lastname %>
  </p>
  <p>
    <%= f.label :cn_firstname %>
    <%= f.text_field :cn_firstname %>
  </p>
  <p>
    <%= f.label :cn_lastname %>
    <%= f.text_field :cn_lastname %>
  </p>
  <p>
    <%= f.label :report_to %>
    <%= f.select :report_to, options_staff, :include_blank => true %>
  </p>
  <p>
    <%= f.label :wave_id %>
    <%= f.select :wave_id, options_enum(Clenum::WAVE) %>
  </p>
  <p>
    <%= f.label :team_id %>
    <%= f.select :team_id, options_enum(Clenum::TEAM) %>
  </p>
  <p>
    <%= f.label :role1_id %>
    <%= f.select :role1_id, options_enum(Clenum::ROLE1) %>
  </p>
  <p>
    <%= f.label :role2_id %>
    <%= f.select :role2_id, options_enum(Clenum::ROLE2) %>
  </p>
  <p>
    <%= f.label :site_id %>
    <%= f.select :site_id, options_enum(Clenum::SITE) %>
  </p>
  <p>
    <%= f.label :dept_id %>
    <%= f.select :dept_id, options_enum(Clenum::DEPARTMENT) %>
  </p>
  <p>
    <%= f.label :base_id %>
    <%= f.select :base_id, options_enum(Clenum::BASE) %>
  </p>
  <p>
    <%= f.label :photo %>
    <%= f.text_field :photo %>
  </p>
  <p>
    <%= f.label :product_id %>
    <%= f.select :product_id, options_enum(Clenum::PRODUCT) %>
  </p>
  <p>
    <%= f.label :base_mobile %>
    <%= f.text_field :base_mobile %>
  </p>
  <p>
    <%= f.label :current_mobile %>
    <%= f.text_field :current_mobile %>
  </p>
  <p>
    <%= f.label :onsite_mobile %>
    <%= f.text_field :onsite_mobile %>
  </p>
  <p>
    <%= f.label :office_phone %>
    <%= f.text_field :office_phone %>
  </p>
  <p>
    <%= f.label :longtop_email %>
    <%= f.text_field :longtop_email %>
  </p>
  <p>
    <%= f.label :s1_eamil %>
    <%= f.text_field :s1_eamil %>
  </p>
  <p>
    <%= f.label :svn_account %>
    <%= f.text_field :svn_account %>
  </p>
  <p>
    <%= f.label :msn %>
    <%= f.text_field :msn %>
  </p>
  <p>
    <%= f.label :skype %>
    <%= f.text_field :skype %>
  </p>
  <p>
    <%= f.label :passport %>
    <%= f.text_field :passport %>
  </p>
  <p>
    <%= f.label :dob %>
    <%= f.date_select :dob, :start_year=>1960, :end_year=>Time.now.year, :use_month_numbers=>true, :date_separator=>'-' %>
  </p>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.text_field :password %>
  </p>
<% end %>