<p>
  <b>Project:</b>
  <%=h @staff.group.project.project_name %>
</p>
<p>
  <b>Group:</b>
  <%=h @staff.group.group_name %>
</p>

<p>
  <b>En firstname:</b>
  <%=h @staff.en_firstname %>
</p>

<p>
  <b>En lastname:</b>
  <%=h @staff.en_lastname %>
</p>

<p>
  <b>Cn firstname:</b>
  <%=h @staff.cn_firstname %>
</p>

<p>
  <b>Cn lastname:</b>
  <%=h @staff.cn_lastname %>
</p>

<p>
  <b>Report to:</b>
  <%= @staff.superior.chinese_name if @staff.superior %>
  (<%= @staff.superior.english_name if @staff.superior %>)
</p>

<p>
  <b>Wave:</b>
  <%=h @staff.wave.enum_text %>
</p>

<p>
  <b>Team:</b>
  <%=h @staff.team.enum_text %>
</p>

<p>
  <b>Role1:</b>
  <%=h @staff.role1.enum_text %>
</p>

<p>
  <b>Role2:</b>
  <%=h @staff.role2.enum_text %>
</p>

<p>
  <b>Site:</b>
  <%=h @staff.site.enum_text %>
</p>

<p>
  <b>Dept:</b>
  <%=h @staff.dept.enum_text %>
</p>

<p>
  <b>Base:</b>
  <%=h @staff.base.enum_text %>
</p>

<p>
  <b>Photo:</b>
  <%=h @staff.photo %>
</p>

<p>
  <b>Product:</b>
  <%=h @staff.product.enum_text %>
</p>

<p>
  <b>Base mobile:</b>
  <%=h @staff.base_mobile %>
</p>

<p>
  <b>Current mobile:</b>
  <%=h @staff.current_mobile %>
</p>

<p>
  <b>Onsite mobile:</b>
  <%=h @staff.onsite_mobile %>
</p>

<p>
  <b>Office phone:</b>
  <%=h @staff.office_phone %>
</p>

<p>
  <b>Longtop email:</b>
  <%=h @staff.longtop_email %>
</p>

<p>
  <b>S1 eamil:</b>
  <%=h @staff.s1_eamil %>
</p>

<p>
  <b>Svn account:</b>
  <%=h @staff.svn_account %>
</p>

<p>
  <b>Msn:</b>
  <%=h @staff.msn %>
</p>

<p>
  <b>Skype:</b>
  <%=h @staff.skype %>
</p>

<p>
  <b>Passport:</b>
  <%=h @staff.passport %>
</p>

<p>
  <b>Dob:</b>
  <%=h @staff.dob %>
</p>

<p>
  <b>Username:</b>
  <%=h @staff.username %>
</p>

<p>
  <b>Password:</b>
  <%=h @staff.password %>
</p>