<h1>View details of company</h1>
<table>
  <tr>
    <td>
      <%= label_tag :project_id, 'Project' %>
    </td>
    <td><%=  @group.project.project_name %></td>
  </tr>
  <tr>
    <td><%= label_tag :group_name, 'Company Name' %></td>
    <td><%= @group.group_name %></td>
  </tr>
  <tr>
    <td><%= label_tag :group_desc, 'Company Description' %></td>
    <td><%= @group.group_desc %></td>
  </tr>
</table>