<h1>Editing project</h1>

<% form_for(@project, :html=>{:id=>'edit_form'}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= hidden_field_tag :ids, @project.id %>
    <%= f.label :project_name %><br />
    <%= f.text_field :project_name %>
  </p>
  <p>
    <%= f.label :project_desc %><br />
    <%= f.text_area :project_desc %>
  </p>
<% end %>