<h1>Create a new project</h1>

<% form_for(@project, :html=>{:id=>'new_form'}) do |f| %>
  <%= f.error_messages %>
  <table>
    <tr>
      <td>
        <%= f.label :project_name, 'Project Name' %>
      </td>
      <td>
        <%= f.text_field :project_name, :class=>'width_400' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :project_desc, 'Project Description' %>
      </td>
      <td>
        <%= f.text_area :project_desc, :class=>'width_400 height_200' %>
      </td>
    </tr>
  </table>
<% end %>