<table width="100%" cellspacing="0">
  <tr>
    <th></th>
    <th>Project</th>
    <th>Group name</th>
    <th class="th_last">Group desc</th>
  </tr>

  <% @groups.each do |group| %>
    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>" onclick="select_one(this)">
      <td width="20"><%= check_box_tag 'id', group.id, false, :class=>'id' %></td>
      <td width="33%"><%=h group.project.project_name %></td>
      <td width="33%"><%=h group.group_name %></td>
      <td width="33%"><%=h group.group_desc %></td>
    </tr>
  <% end %>
  <%= ajax_paginate_tag @groups, 4 %>
</table>