<h1>Listing ggroups</h1>

<table>
  <tr>
    <th>Gg name</th>
    <th>Gg desc</th>
  </tr>

<% @ggroups.each do |ggroup| %>
  <tr>
    <td><%=h ggroup.gg_name %></td>
    <td><%=h ggroup.gg_desc %></td>
    <td><%= link_to 'Show', ggroup %></td>
    <td><%= link_to 'Edit', edit_ggroup_path(ggroup) %></td>
    <td><%= link_to 'Destroy', ggroup, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ggroup', new_ggroup_path %>