<p>
  <b>Grant name:</b>
  <%=h @grant.grant_name %>
</p>

<p>
  <b>Grant contrl:</b>
  <%=h @grant.grant_contrl %>
</p>

<p>
  <b>Grant action:</b>
  <%=h @grant.grant_action %>
</p>

<p>
  <b>Grant target:</b>
  <%=h @grant.grant_target %>
</p>

<p>
  <b>Grant desc:</b>
  <%=h @grant.grant_desc %>
</p>


<%= link_to 'Edit', edit_grant_path(@grant) %> |
<%= link_to 'Back', grants_path %>