<h1>Listing grant_ggroups</h1>

<table>
  <tr>
    <th>Grant</th>
    <th>Ggroup</th>
  </tr>

<% @grant_ggroups.each do |grant_ggroup| %>
  <tr>
    <td><%=h grant_ggroup.grant_id %></td>
    <td><%=h grant_ggroup.ggroup_id %></td>
    <td><%= link_to 'Show', grant_ggroup %></td>
    <td><%= link_to 'Edit', edit_grant_ggroup_path(grant_ggroup) %></td>
    <td><%= link_to 'Destroy', grant_ggroup, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New grant_ggroup', new_grant_ggroup_path %>