<h1>Listing staffs</h1>

<table>
  <tr>
    <th>Group</th>
    <th>Ggroup</th>
    <th>En firstname</th>
    <th>En lastname</th>
    <th>Cn firstname</th>
    <th>Cn lastname</th>
    <th>Report to</th>
    <th>Wave</th>
    <th>Team</th>
    <th>Role1</th>
    <th>Role2</th>
    <th>Site</th>
    <th>Dept</th>
    <th>Base</th>
    <th>Photo</th>
    <th>Product</th>
    <th>Base mobile</th>
    <th>Current mobile</th>
    <th>Onsite mobile</th>
    <th>Office phone</th>
    <th>Longtop email</th>
    <th>S1 eamil</th>
    <th>Svn account</th>
    <th>Msn</th>
    <th>Skype</th>
    <th>Passport</th>
    <th>Dob</th>
    <th>Username</th>
    <th>Password</th>
  </tr>

<% @staffs.each do |staff| %>
  <tr>
    <td><%=h staff.group_id %></td>
    <td><%=h staff.ggroup_id %></td>
    <td><%=h staff.en_firstname %></td>
    <td><%=h staff.en_lastname %></td>
    <td><%=h staff.cn_firstname %></td>
    <td><%=h staff.cn_lastname %></td>
    <td><%=h staff.report_to %></td>
    <td><%=h staff.wave %></td>
    <td><%=h staff.team %></td>
    <td><%=h staff.role1 %></td>
    <td><%=h staff.role2 %></td>
    <td><%=h staff.site %></td>
    <td><%=h staff.dept %></td>
    <td><%=h staff.base %></td>
    <td><%=h staff.photo %></td>
    <td><%=h staff.product %></td>
    <td><%=h staff.base_mobile %></td>
    <td><%=h staff.current_mobile %></td>
    <td><%=h staff.onsite_mobile %></td>
    <td><%=h staff.office_phone %></td>
    <td><%=h staff.longtop_email %></td>
    <td><%=h staff.s1_eamil %></td>
    <td><%=h staff.svn_account %></td>
    <td><%=h staff.msn %></td>
    <td><%=h staff.skype %></td>
    <td><%=h staff.passport %></td>
    <td><%=h staff.dob %></td>
    <td><%=h staff.username %></td>
    <td><%=h staff.password %></td>
    <td><%= link_to 'Show', staff %></td>
    <td><%= link_to 'Edit', edit_staff_path(staff) %></td>
    <td><%= link_to 'Destroy', staff, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New staff', new_staff_path %>