<table width="100%" cellspacing="0">
  <tr>
    <th></th>
    <th>English Name</th>
    <th>Chinese Name</th>
    <th>Current Mobile</th>
    <th>Longtop Email</th>
    <th>MSN</th>
    <th class="th_last">Skype</th>
  </tr>

  <% @staffs.each do |staff| %>
    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>" onclick="select_one(this)">
      <td width="20"><%= check_box_tag 'id', staff.id, false, :class=>'id' %></td>
      <td><%= staff.english_name %></td>
      <td><%= staff.chinese_name %></td>
      <td><%= staff.current_mobile %></td>
      <td><%= staff.longtop_email %></td>
      <td><%= staff.msn %></td>
      <td><%= staff.skype %></td>
   </tr>
  <% end %>
   <%= ajax_paginate_tag @staffs, 7 %>
</table>