<h1>New staff</h1>

<% form_for(@staff) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :group_id %><br />
    <%= f.text_field :group_id %>
  </p>
  <p>
    <%= f.label :ggroup_id %><br />
    <%= f.text_field :ggroup_id %>
  </p>
  <p>
    <%= f.label :en_firstname %><br />
    <%= f.text_field :en_firstname %>
  </p>
  <p>
    <%= f.label :en_lastname %><br />
    <%= f.text_field :en_lastname %>
  </p>
  <p>
    <%= f.label :cn_firstname %><br />
    <%= f.text_field :cn_firstname %>
  </p>
  <p>
    <%= f.label :cn_lastname %><br />
    <%= f.text_field :cn_lastname %>
  </p>
  <p>
    <%= f.label :report_to %><br />
    <%= f.text_field :report_to %>
  </p>
  <p>
    <%= f.label :wave %><br />
    <%= f.text_field :wave %>
  </p>
  <p>
    <%= f.label :team %><br />
    <%= f.text_field :team %>
  </p>
  <p>
    <%= f.label :role1 %><br />
    <%= f.text_field :role1 %>
  </p>
  <p>
    <%= f.label :role2 %><br />
    <%= f.text_field :role2 %>
  </p>
  <p>
    <%= f.label :site %><br />
    <%= f.text_field :site %>
  </p>
  <p>
    <%= f.label :dept %><br />
    <%= f.text_field :dept %>
  </p>
  <p>
    <%= f.label :base %><br />
    <%= f.text_field :base %>
  </p>
  <p>
    <%= f.label :photo %><br />
    <%= f.text_field :photo %>
  </p>
  <p>
    <%= f.label :product %><br />
    <%= f.text_field :product %>
  </p>
  <p>
    <%= f.label :base_mobile %><br />
    <%= f.text_field :base_mobile %>
  </p>
  <p>
    <%= f.label :current_mobile %><br />
    <%= f.text_field :current_mobile %>
  </p>
  <p>
    <%= f.label :onsite_mobile %><br />
    <%= f.text_field :onsite_mobile %>
  </p>
  <p>
    <%= f.label :office_phone %><br />
    <%= f.text_field :office_phone %>
  </p>
  <p>
    <%= f.label :longtop_email %><br />
    <%= f.text_field :longtop_email %>
  </p>
  <p>
    <%= f.label :s1_eamil %><br />
    <%= f.text_field :s1_eamil %>
  </p>
  <p>
    <%= f.label :svn_account %><br />
    <%= f.text_field :svn_account %>
  </p>
  <p>
    <%= f.label :msn %><br />
    <%= f.text_field :msn %>
  </p>
  <p>
    <%= f.label :skype %><br />
    <%= f.text_field :skype %>
  </p>
  <p>
    <%= f.label :passport %><br />
    <%= f.text_field :passport %>
  </p>
  <p>
    <%= f.label :dob %><br />
    <%= f.date_select :dob %>
  </p>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', staffs_path %>