<h1>Editing Company</h1>

<% form_for(@group, :html=>{:id=>'edit_form'}) do |f| %>
  <%= f.error_messages %>

  <table>
    <tr>
      <td>
        <%= f.label :project_id %>
        <%= hidden_field_tag :ids, @group.id %>
      </td>
      <td><%=  f.select(:project_id, options_project) %></td>
    </tr>
    <tr>
      <td><%= f.label :group_name, 'Company Name' %></td>
      <td><%= f.text_field :group_name, :class=>'width_400' %></td>
    </tr>
    <tr>
      <td><%= f.label :group_desc, 'Company Description' %></td>
      <td><%= f.text_area :group_desc, :class=>'width_400 height_200' %></td>
    </tr>
  </table>
<% end %>