<p>
  <b>Staff:</b>
  <%=h @history.staff_id %>
</p>

<p>
  <b>Action:</b>
  <%=h @history.action %>
</p>

<p>
  <b>Target:</b>
  <%=h @history.target %>
</p>


<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>