<h1>Editing clenum</h1>

<% form_for(@clenum) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :enum_code %><br />
    <%= f.text_field :enum_code %>
  </p>
  <p>
    <%= f.label :parent %><br />
    <%= f.text_field :parent %>
  </p>
  <p>
    <%= f.label :enum_text %><br />
    <%= f.text_field :enum_text %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @clenum %> |
<%= link_to 'Back', clenums_path %>