<p>
  <b>Enum code:</b>
  <%=h @clenum.enum_code %>
</p>

<p>
  <b>Parent:</b>
  <%=h @clenum.parent %>
</p>

<p>
  <b>Enum text:</b>
  <%=h @clenum.enum_text %>
</p>


<%= link_to 'Edit', edit_clenum_path(@clenum) %> |
<%= link_to 'Back', clenums_path %>