<% form_for(@clenum, :html=>{:id=>'edit_form'}) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= hidden_field_tag :ids, @clenum.id %>
    <%= f.label :category_id %>
    <%= f.select(:category_id, options_category) %>
  </p>
  <p>
    <%= f.label :enum_text %>
    <%= f.text_field :enum_text %>
  </p>
<% end %>