<% form_for(@clenum,:html=>{:id=>'new_form'}) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :category_id %>
    <%= f.select(:category_id, options_category) %>
  </p>
  <p>
    <%= f.label :enum_text %>
    <%= f.text_field :enum_text %>
  </p>
<% end %>